* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Accordion__section {
  grid-area: nav;
}

.Accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.Accordion:hover,
.active {
  background-color: #ccc;
}

.Accordion__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.Accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.Accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.Accordion__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}
