* {
  text-align: center;
}

.SearchForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 22vh;
  width: 100%;
}

.SearchForm__input--search-term,
.SearchForm__button--search {
  font-size: 100%;
}

.SearchForm__div--container {
  width: 50%;
}

.SearchForm__label {
  margin-right: 2%;
}

.SearchForm__section--accordions {
  width: 100%;
}

input,
button {
  margin: 1% 0%;
  width: 62%;
}

select {
  width: 52%;
}
