* {
  text-align: center;
}

.SearchForm {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  width: 100%;
}

.SearchForm__input--search-term,
.SearchForm__button--search {
  font-size: 100%;
}

.SearchForm__button--search:hover {
  cursor: pointer;
}

.SearchForm__div--container {
  background-color: rgba(249, 225, 174, 0.8);
  padding: 2% 0%;
  width: 35%;
}

.SearchForm__label {
  margin-right: 2%;
}

.SearchForm__section--accordions {
  width: 100%;
}

input,
button {
  margin: 1% 0%;
  width: 67%;
}

select {
  width: 57%;
}

select:hover {
  cursor: pointer;
}
