.BeerPage {
  background-color: #BAD9B5;
  display: flex;
  flex-direction: column;
  height: 69vh;
  margin: 0% 1.25%;
  margin-top: 6%;
  overflow: scroll;
  padding: 2% 0% 4% 0%;
  width: 78vw;
}

ul {
  list-style: none;
}

.BeerPage__div--right {
  display: flex;
}

.BeerPage__section--description {
  display: flex;
}

.BeerPage__div--description,
.BeerPage__div--brewersTips,
.BeerPage__div--pairsWith,
.BeerPage__aside--ingredients {
  margin: 1%;
  padding: 1%;
}

.BeerPage__aside--ingredients {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  width: 100%;
}

.BeerPage__section--tips-pairs-with {
  padding-right: 2%;
}