// * {
//   border: 1px solid red;
// }

.Container {
  display: grid;
  flex-wrap: wrap;
  grid-area: container;
  grid-gap: 25px 25px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  height: 64vh;
  justify-items: center;
  justify-content: space-between;
  overflow: scroll;
  padding: 0px 20px;
  position: relative;
  top: 16%;
  width: 80vw;
}

a {
  margin: 5% 0%;
  text-decoration: none;
}

.Nav__h4--your-brewery {
  padding: 5% 0%;
}

.Container__gif--loading {
  height: 350px;
  width: 200px;
}
